*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body
{
    background: #001B2E;
    display: flex;
    flex-direction: row;
}

/*排行榜框框*/
.scoreBox
{
    margin: 100px;
    border-radius: 10px;
    width: 300px;
    min-height:500px;
    border: 3px solid #586BA4;
    box-shadow:  0px 0px 8px 1px #586BA4;
    padding: 10px 0;
}

/*成員*/
.scoreBox .member
{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 70%;
    margin: 10px auto;
    border: 1px solid #fff;
    margin-top: 5px;
    font-size: 25px;
    cursor: pointer;
}

/* 成員的紀錄*/
#memberBox
{
	margin: 100px;
    border-radius: 10px;
    width: 500px;
    min-height:500px;
    border: 3px solid #586BA4;
    box-shadow:  0px 0px 8px 1px #586BA4;
    padding: 10px 0;
    color: #fff;
    font-size: 22px;
    padding:10px 20px;
}

#memberBox #memberName
{
	font-size:40px;
}

/*滑鼠過去成員框框時放大，暗示可以點*/
.scoreBox .member:hover
{
	transform:scale(1.2);
	transition:0.3s;
}

.scoreBox .member .name
{
	padding-left:10px;
}

.scoreBox .member .score
{
	padding-right: 10px;
}

.recordForm
{
	margin-left:50px;
	width:100px;
}

.addMemberForm
{
	margin:50px;
}

.formDiv
{
	padding-top:200px;
}

/* 特殊牌型的紀錄*/
#specialType
{
	margin-top:20px;
	width:80%;
	display:grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-template-rows: auto;
    gap: 0 50px;
}

/*單一種類的排版*/
.singleType
{
	display:flex;
	justify-content: flex-start;
	margin-top:5px;
}

